.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(94, 93, 93);
    padding: 25px 15px;
} 

.sidebar img {
    width: 20px;
}

.sidebar .menu{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat{
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: rgb(48, 46, 46);
    border-radius: 50px;
    font-size: 16px;
    color: rgb(225, 136, 236);
    cursor: pointer;
}

.sidebar .new-chat:hover{
    background-color: rgb(22, 2, 34);
    font-style: rgb(223, 213, 213);
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 17px;
    color: rgb(216, 211, 211);
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px 15px;
    padding-right: 20px;
    border-radius: 70px;
    font-size: 17px; 
    color: rgb(176, 175, 175);
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background-color: rgb(96, 93, 93);
    color: black;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}